
<div class="d-flex justify-content-center align-items-center flex-column gap-x-3">

    <div class="">
        <img src="/images/logo.jpg" class="img-fluid" style="max-height: 80px;" />
    </div>

    <h3 class="m-0">Bislerium Cafe</h3>

</div>

