@page "/generate-reports"

<MudText Typo="Typo.h6">Select Date to Generate Report</MudText>

<div style="width:300px;" class="my-5">
    <MudDatePicker Label="Select Date" Editable="true" @bind-Date="_date" Placeholder="Select Date" />
</div>

<MudButton Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Generate Reportt</MudButton>

<p>
    @_date
</p>

@code{
    [CascadingParameter] private GlobalState _globalState { get; set; }

    private DateTime? _date { set; get; }

    protected override void OnInitialized()
    {
        _globalState.AppBarTitle = "Generate Reports";
    }
}