@page "/"
@inject NavigationManager NavManager

@if (_globalState.CurrentUser != null)
{
    <p>UserName: @_globalState.CurrentUser.UserName</p>
    <p>Role: @_globalState.CurrentUser.Role</p>
    <p>Password: @_globalState.CurrentUser.Password</p>
    <p>Has User Changed Initial Password: @_globalState.CurrentUser.HasInitialPasswordChanged</p>
}

@code {

    [CascadingParameter]
    private Action<string> SetAppBarTitle { get; set; }

    [CascadingParameter]
    private GlobalState _globalState { get; set; }


    protected sealed override void OnInitialized()
    {
        if (_globalState.CurrentUser == null)
        {
            NavManager.NavigateTo("/sign-in");
        }
        else
        {
            NavManager.NavigateTo("/");

            SetAppBarTitle.Invoke("Dashboard");
        }
    }

}

